@charset "UTF-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

.logo{
	max-width: 18%;
 
}

/* Layout styling */

.container {
  padding: 0 15px;
  padding-bottom: 20px;
  text-align: center;
  margin: auto;
}

header {
	
    text-align: center;
    position: relative;
    border-bottom: solid thin;
    border-bottom-color: #D7D7D7;
	background-color: white;
	padding: 10px 40px;
	

}

nav {
	
	display:inline-block;
	width:100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a{
 padding: 0 15px;
 font-weight: 700;
 color: #4a4a4a;
}


body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
	
}
h1 {
  font-size: 1.75em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

p{
	font-weight: 300;
	padding: 0 20px;
	font-size: .85em;
	
}

img{
	width:100%;
}

 
a {
  color:#C2C1C1;
  text-decoration: none; /* No underlining */
  font-weight: 700;
}
a:hover,
a:focus {
  color:#6798BA;

}

a:visited { /* visited link */
  color: #464646;
}

a:active { /* selected link */
  color:#01172E;
text-decoration: none
}

.getintouch{
	text-align: center;
}

.button{
  display: inline-block; 
  border-style: solid;
  border-width: 2px;
  border-color: #7792BB;
  font-weight: 400;
  padding: 10px 30px;
  text-align: center;
  transition-duration: 1.2s;
  transition-property: opacity;
  margin:20px;
}

.button:hover {
  text-decoration: none;
  color:#ffffff; 
  background-color:#7792BB;
  opacity: .8;
}

.button.contact {
  background-color:#173878;
  color: white;
  text-transform: uppercase;
  border-style: none;
  
}

.button.contact:hover {
  text-decoration: none;
  color:#ffffff; 
  background-color:#041328;
  transition: 0.6s opacity;
}

.social_icons {
width:20px;
max-width:25px;
margin:15px;
display:inline;
}

.tools_img {
	
	width: 200px;
	text-align: center;
	margin: auto;
}

.project_img_lg{
	width: 50%;
	margin: 30px auto;
}

.project_img_lg_2{
	width: 80%;
	margin: 30px auto;
}



#hero_image{
	
	width:100%;
}

#about{
	
	margin-top: 50px ;
}

footer{ 
	margin-top: 40px;
	background-color: #C4E3F1;
  	animation-name: example;
  	animation-duration: 6s;
	animation-iteration-count: infinite;
	
}

@keyframes example {
   from {background-color: #C4E3F1;}
  to {background-color: #84ABC6;}
}




#work .row { 
	padding-bottom: 25px; 
	border-bottom: 1px solid #4a4a4a;
}

#hero h1, h2, h3, p {
  text-align: center; /* Centers text */
}

#hero {
  background-color: white;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}



#social_icons {
	display:inline-block;
	width:100%;
	text-align: center;
}

#social_icons > ul {
  list-style-type: none;
  padding: 0;
}

#social_icons > ul > li {
  display: inline-block;
  padding: 5px;
  
}

.propic {
		
		max-width: 800px;
		text-align: center;
		margin: 50px auto;
		
	}


@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}



/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
	
header {
  text-align: unset;
  padding: 20px 0px 13px 10px;
  background-color:white;
}
	
nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
	
.logo {
	max-width:100px;
	}
	
#hero span {
  display: block;
}
	
 .col-md-6 {
  width: 50%;
  display:table;
  margin-bottom:50px;
}
	
  [class*="col-"] {
  float: left;
}
	
  .container::after {
  content: "";
  clear: both;
  display: table;
}

	
  .project_info{
		text-align: left;
		margin-left:15px;
		font-size:.75em;
	}
	
	h3{
		font-size:1.50em;
		text-align: center;
		margin: auto;
	}
	
	.propic {
		
		max-width: 800px;
		text-align: center;
		margin: 50px auto;
		
	}
	
	footer{
		width: 100%;
		content: "";
  		clear: both;
  		display: table;
		margin-top: 50px;
		position:relative;
		
	}
	
	.list_section{
		
	}
	
	p{
		
		max-width: 80%;
		text-align: center;
		margin:auto;
		
	}
	
	.align-h1-left{
		
		text-align: left;
	}
	
	.project_img_lg{
	width: 50%;
	margin: 30px auto;
	
}
	
	.project_img_lg_2{
	width: 60%;
	margin: 30px auto;
	padding: 0 10px;
}


	
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
	
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
	
	.col-lg-7{
		width:60%;
	}
	
	.col-lg-5{
		width:40%;
		
	}
	
	.project_info{
		text-align: left;
		margin-left:50px;
		font-size:1.00em;
	}
	
	h3{
		font-size: 1.75em;
		text-align: center;
		margin: auto;
	}
	
	.propic {
		
		max-width: 1000px;
		text-align: center;
		margin: auto;
		
	}
	
	  .getintouch{
  		text-align: center;
		margin:auto;
	}
	
	.story{
		max-width: 70%;
		margin:auto;
	}
	
	.hero_image{
		width:70%;
		text-align: center;
		margin: auto;
}
	
	.project_img_lg{
	width: 50%;
	margin: 30px auto;
}

	
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {


      .project_info {
		text-align: left;
		margin-left:50px;
		font-size:1.00em;
}
		.propic {
		max-width: 850px;
		text-align: center;
		margin:auto;
		
	}
	
	.skills_section{
		max-width: 70%;
		margin: 0 auto;
	}
	
	.list_section {
		
		max-width: 70%;
		margin: 0 auto;
		
		
	}
	
	h3{
		
		text-align: left;
		margin-left: 50px;
	}
	
	.hero_image {
	
	width:60%;
}
	
	.project_img_lg{
	width: 30%;
	margin: 30px auto;
}
	.project_screen_lg {
	width: 60%;
	margin: 30px auto;
		
		
		
	}
	

	}






